.movie-card {
    width: 100%;
    
    border: 0.25rem solid rgb(165, 200, 255);
    border-radius: 1rem;
}

.movie-card > * {
    margin: 0;
}

.movie-card-top {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding-bottom: 1rem;

    background-color: rgb(200, 225, 255);
    border-radius: 0.75rem 0.75rem 0 0;
}

.movie-card-top > * {
    margin-bottom: 0;
}

.movie-title {
    grid-area: title;

    margin-left: 1rem;
    margin-top: 1rem;

    max-width: 70%;
    font-size: 1.25rem;
    word-wrap: break-word;
}

@media (width > 600px) {
    .movie-title {
        font-size: 1.5rem;
    }
}

@media (width > 600px) {
    .movie-title {
        font-size: 2rem;
    }
}

.movie-description {
    padding: 1rem;
    word-wrap: break-word;
}